<%
  class_name = '' unless bound_locals_include?(:class_name, binding)
  event_parent_id = nil unless bound_locals_include?(:event_parent_id, binding)
  data_attributes = '' unless bound_locals_include?(:data_attributes, binding)
%>
<% if comp
     class_name = "#{class_name} #{comp.full_width ? 'v-button-full-width' : nil}"
%>
  <% if comp.menu %>
    <div class="mdc-menu-anchor">
  <% end %>
  <% case comp.button_type.to_sym
        when :fab %>
            <%= partial "components/buttons/fab", :locals => {:comp => comp, class_name: class_name, event_parent_id: event_parent_id, data_attributes: data_attributes} %>
     <% when :icon %>
            <%= partial "components/buttons/icon", :locals => {:comp => comp, class_name: class_name, event_parent_id: event_parent_id, data_attributes: data_attributes} %>
    <% when :image %>
            <%= partial "components/buttons/image", :locals => {:comp => comp, class_name: class_name, event_parent_id: event_parent_id, data_attributes: data_attributes} %>
    <% else  %>
            <%= partial "components/buttons/button", :locals => {:comp => comp, class_name: class_name, event_parent_id: event_parent_id, data_attributes: data_attributes} %>
  <% end %>
  <% if comp.menu %>
    </div>
  <% end %>
<% end %>



