<h1 id=<%= comp.id %> class="v-page-title">
  <%= partial "components/render", :locals => {:components => comp.components, :scope => nil} if comp.components.any? %>
  <%= expand_text(comp.text) %>
</h1>
