<% if comp
     data_events =
         [['after_init',
           [['snackbar', nil, {}, {text: comp.text}]],
           {once: true}
          ]]
%>
  <div id="<%=comp.id%>"
       class="v-hidden"
       aria-hidden="true"
       data-events='<%= data_events.to_json %>'>
  </div>
<% end %>
