<%if comp.icon%><div class="material-icons mdc-badge--overlap mdc-badge" data-badge="<%=comp.badge%>"><%=comp.icon%></div>
<%else%><span class="mdc-badge" data-badge="<%=comp.badge%>"><%=comp.text%></span><%end%>