<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="<%=comp.id%>">
  <input type="checkbox" id="<%=comp.id%>"
         class="mdl-checkbox__input"
         <%if comp.checked%> checked<%end%><%if comp.disabled%> disabled<%end%>
         <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id}%>
  />
</label>
