<label class="mdc-checkbox mdc-js-checkbox mdc-js-ripple-effect" for="<%=comp.id%>">
  <input type="checkbox" id="<%=comp.id%>" class="mdc-checkbox__input" <%if comp.checked%> checked<%end%><%if comp.disabled%> disabled<%end%>/>
</label>