<div id="<%= comp.id %>"
     <% if comp.tag %>
     data-input-tag="<%= comp.tag %>"
     <% end %>
     class="v-content
            <%= 'v-hidden' if comp.hidden %>">
  <% if comp.shows_errors %>
    <div class="v-errors">
  <% end %>
     <%= erb :"components/render", :locals => {:components => comp.components, :scope => nil} %>
  <% if comp.shows_errors %>
    </div>
  <% end %>
</div>
