<div class="mdl-typography--display-<%=comp.level%>
       <%= 'v-actionable' if comp.event %>"
     <%= erb :"components/event", :locals => {event: comp.event_parent_id}%>
><%= markdown(comp.text) %></div>
