<div class="mdc-typography--display<%=comp.level%>
       <%= 'v-actionable' if comp.events %>"
     <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id}%>
><%= expand_text(comp.text) %></div>
