<form role="form" id="<%= comp.id %>"
      style='width: 100%'
      onsubmit="javascript:void(0);return false;">
  <div id="errors"></div>
  <%= erb :"components/render", :locals => {:components => comp.components, :scope=> nil} %>
</form>
