<div class="mdl-typography--headline
            <%= 'v-actionable' if comp.events %>"
     id="<%=comp.id%>"
     <%= erb :"components/event", :locals => {events: comp.events, parent_id: comp.event_parent_id}%>
><%= markdown(comp.text) %></div>
