<label class="mdc-icon-toggle mdc-js-icon-toggle mdc-js-ripple-effect" for="id-<%=comp.id%>">
  <input type="checkbox" id="id-<%=comp.id%>" class="mdc-icon-toggle__input" <%if comp.checked%> checked<%end%><%if comp.disabled%> disabled<%end%>>
  <i class="mdc-icon-toggle__label material-icons"><%=comp.icon%></i>
</label>
