<label class="mdc-radio mdc-js-radio mdc-js-ripple-effect" for="<%=comp.id%>">
  <input type="radio" id="<%=comp.id%>" class="mdc-radio__button" name="options" value="<%=comp.value%>"<%if comp.checked%> checked<%end%><%if comp.disabled%> disabled<%end%>/>
</label>
