<% if comp
     data_events =
         [['after_init',
           [['snackbar', nil, {}, {text: comp.text}]],
           {once: true}
          ]]
%>
  <div id="<%=comp.id%>"
       class="v-snackbar"
       aria-hidden="true"
       data-events='<%= data_events.to_json %>'>
    <div class="mdc-snackbar__text"></div>
    <div class="mdc-snackbar__action-wrapper">
      <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
  </div>
<% end %>