<div class="mdl-typography--title
           <%= 'mdv-actionable' if comp.event %>"
     id="<%=comp.id%>"
     <%= erb :"components/event", :locals => {event: comp.event, parent_id: comp.id}%>>
  <%= markdown(comp.text) %></div>
