<% if row.checkbox %>
  <% if type == 'header' %>
    <th>
  <% else %>
    <td style="<%= "background-color: #{row.color};" if row.color %>">
  <% end %>
  <% unless type == 'footer' %>
    <span class="mdc-list-item__graphic">
      <%= erb :"components/checkbox",
              :locals => {comp: row.checkbox,
                          class_name: (type == 'header' ? 'v-checkbox--select-control' : 'v-table-item--selectable-checkbox')} %>
      </span>
  <% end %>
  <% if type == 'header' %>
    </th>
  <% else %>
    </td>
  <% end %>
<%end%>