<li class="<%= 'mdv-actionable' if item.event %>"
    <%= erb :"components/event", :locals => {event: item.event} %>>
  <%= erb :"components/icon", :locals => {comp: item.icon, class_name: nil} %>
  <%= item.text %>
</li>