<li>
  <a style="color: unset; text-decoration: none;"
     href="javascript:void(0)"
     <%= erb :"components/event", :locals => {event: item.event} %>>
    <%= erb :"components/icon", :locals => {comp: item.icon, class_name: nil} %>
    <%= item.text %>
  </a>
</li>