<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Title</div>
    <% footer.menus.each do |menu| %>
      <ul class="mdl-mini-footer__link-list">
        <% menu.items.each do |item| %>
          <%= erb :"body/footers/menu_item", :locals => {item: item} %>
        <% end %>
      </ul>
    <% end %>
  </div>
</footer>


