<% if post %>
  <% if preamble %>
    <form method="get" action="<%= link.url %>" style="display: inline">
      <% link.params.each do |k, v| %>
        <%= erb :"components/form/hidden_field", :locals => {:field => OpenStruct.new(id: k, value: v)} %>
      <% end %>
      <button type="submit" style="padding: 0;border: none;background: none;display:inline;">
  <% else %>
    </button>
    </form>
  <% end %>
<% end %>

