<%= erb :"components/link", :locals => {link: comp.link, preamble: true} %>
<div class="mdl-typography--subhead" style="<%='font-size: 13px' if comp.level==1%>"><%= comp.text %></div>
<%= erb :"components/link", :locals => {link: comp.link, preamble: false} %>