<div class="mdl-typography--subhead
            <%= 'mdv-actionable' if comp.event %>"
     style="<%='font-size: 13px' if comp.level==1%>"
     <%= erb :"components/event", :locals => {event: comp.event}%>><%= comp.text %></div>
