<!doctype html>
<html class="no-js" lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Voom Reference Web Application </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet prefetch" href="//fonts.googleapis.com/css?family=Roboto">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="css/vendor.css">
  <!-- Theme initialization -->
  <script>
      var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
          {};
      var themeName = themeSettings.themeName || '';
      if (themeName) {
          document.write('<link rel="stylesheet" id="theme-style" href="css/app-' + themeName + '.css">');
      }
      else {
          document.write('<link rel="stylesheet" id="theme-style" href="css/app.css">');
      }
  </script>
  <link rel="stylesheet" href="css/custom.css">
</head>
<body>

  <%= erb :"layouts/#{@ui._layout_&.name || 'centered'}", locals: {layout: @ui._layout_, components: @ui.components} %>

  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
</body>
</html>