require 'voom/presenters/dsl/components/actions/base'


module Voom
  module Presenters
    module Plugins
      module <%= classify(name) %>
          class <%= classify(name) %>Action < DSL::Components::Actions::Base
            def initialize(**attribs_, &block)
              super(type: :<%= underscore(name) %>_action, **attribs_, &block)
            end
        end
      end
    end
  end
end
