/* Sample palette */
$palette-colors: (
  red: #FFEBEE,
  yellow: #FFFDE7,
  green: #E8F5E9
);

@function palette($color) {
  @return map-get($palette-colors, $color);
}

@each $name, $color in $palette-colors {
  .v-color__#{$name} {
    color: $color !important;
  }

  .v-background-color__#{$name} {
      background-color: $color !important;
    }
}

.v-color__primary {
  color: $mdc-theme-primary;
}

.v-color__secondary {
  color: $mdc-theme-secondary;
}

.v-background-color__primary {
  background-color: $mdc-theme-primary;
}

.v-background-color__secondary {
  background-color: $mdc-theme-secondary;
}
