.v-actionable {
    cursor: pointer;
}

.v-error-message {
    color: $v-theme-error-message;
    padding: 20px;
    border: 1px solid $v-theme-error-message;
    font-weight: bold;
    border-radius: 5px;
}

.v-hidden {
    display: none;
    visibility: hidden;
}

.v-nowrap {
    white-space: nowrap;
}

.incompatible-browser .compatibility-wrapper * {
    display: none;
}

// Workaround for https://github.com/material-components/material-components-web/issues/4629:
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:hover::before {
    filter: opacity(100%);
}
