.v-actionable {
    cursor: pointer;
}

.v-error-message {
    color: $v-theme-error-message;
    padding: 20px;
    border: 1px solid $v-theme-error-message;
    font-weight: bold;
    border-radius: 5px;
}

.v-hidden,
.incompatible-browser .compatibility-wrapper * {
    display: none;
}
