$mdc-theme-primary: #5488b2;
$mdc-theme-secondary: #E58D36;
$mdc-theme-background: #fff;

$v-theme-error-message: #d50000;

$v-header-background: #263138;
$v-header-color: #839098;

$v-drawer-background: #37424a;
$v-drawer-color: #71818c;

$v-title-background: #EBF0F4;

// Variables for matching Material blue-gray-orange theme
$v-input-border-radius: 4px;
$v-input-border-color: rgba(0, 0, 0, 0.24);
$v-input-hover-border-color: rgba(0, 0, 0, 0.87);
$v-input-focus-border-color: $mdc-theme-primary;

.mdl-layout__header {
  background-color: $v-title-background;
  .mdl-layout__header-row {
    background-color: $v-header-background;
    color: $v-header-color;
  }
  .mdl-layout__drawer-button {
    background-color: $v-drawer-background;
  }
}

h1.v-page-title {
  background-color: $v-title-background;
  color: $v-drawer-color;
  margin: 0px;
  padding: 24px;
  font-size: 30px;
  i {
    font-size: 30px;
    vertical-align: middle;
  }
}

#cart_menu {
  position: relative;
  .mdl-badge {
    position: absolute;
    left: 30px;
    top: 8px;
    z-index: 9;
  }
  .v-menu-click {
    font-size: 35px;
    width: 50px;
    height: 50px;
    .material-icons {
      transform: translate(-19px, -19px);
      font-size: 38px;
      line-height: 38px;
      width: 38px;
    }
  }
}

.mdl-layout__drawer {
  background-color: $v-drawer-background;
  border-right: 1px solid $v-drawer-background;
  color: $v-drawer-color;
  .mdl-navigation {
    .mdl-navigation__link {
      color: $v-drawer-color;
      &.v-menu-item__selected {
        color: lighten($v-drawer-color, 20%);
        font-weight: bold;
      }
      &:hover {
        background-color: $v-drawer-background;
        color: lighten($v-drawer-color, 20%);
      }
    }
  }
}
