<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout__title"><%= header.title %></span>
    <div class="mdl-layout-spacer"></div>
    <% if header.menu %>
      <nav class="mdl-navigation">
        <% header.menu.items.each do |item| %>
          <a class="mdl-navigation__link" href="<%= item.url %>"><%= item.text %></a>
        <% end %>
      </nav>
    <% end %>
  </div>
</header>