<%
  drawer = pom.drawer
  footer = pom.footer
%>
</div>
</div>
<% if drawer %>
  </div>
  </div>
  </div>
<% end %>

<%= partial "body/snackbar" %>
<% if footer %>
  <%= partial "body/footer", :locals => {:footer => footer} %>
<% end %>
</div>
