<div id="snackbar"
      class="v-snackbar mdc-snackbar v-hidden"
      aria-live="assertive"
      aria-atomic="true"
      aria-hidden="true">
  <div class="mdc-snackbar__surface">

    <div class="mdc-snackbar__label"
         role="status"
         aria-live="polite">
    </div>
    <div class="mdc-snackbar__actions">
      <button type="button" class="mdc-button mdc-snackbar__action"></button>
    </div>
  </div>
 </div>
