<!doctype html>
<html class="no-js incompatible-browser" lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= @pom.page.title if @pom.page %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= coprl_headers %>
</head>
<body class="mdc-typography">
    <%= with_presenters_wrapper do %>
      <%= yield %>
    <% end %>
<noscript><p>JavaScript must be enabled to continue.</p></noscript>
</body>
</html>
