<% if @pom.events&.any? %>
<div style='display: none;'
     <%= erb :"components/event", :locals => {comp: @pom, events: @pom.events, parent_id: nil} %>></div>
<% end %>
<%= erb :"components/render", :locals => {:components => @pom.components, :scope=> nil} %>
