<% if field.error %>
    <span class="has-error" id="<%= field.id %>-validation-msg"><code><%= field.error %></code></span>
<% elsif field.hint %>
    <!--<span class=""><%= field.hint %></span>     -->
<% end %>
