<span class="mdc-list__item-secondary-action">
<label class="mdc-switch mdc-js-switch mdc-js-ripple-effect" for="<%=action.id%>">
  <input type="checkbox" id="<%=action.id%>" class="mdc-switch__input" checked/>
</label>
</span>