
.v-avatar {
  margin-left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-shrink: 0;
}

.v-card-media {
  .v-avatar {
    background-color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
    margin-right: 8px;
    margin: 8px;
  }
  .v-avatar + .v-card-title {
    margin-top: 8px;
  }
}

.v-avatar-position-left {
  float:left;
}

.v-avatar-position-top {
  position: absolute;
  top: 0;
}

.v-avatar-position-right {
  float:right;
}

.v-avatar-position-bottom {
  position: absolute;
  bottom: 0;
}
