
.v-avatar {
  margin-left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-shrink: 0;
}

.mdl-card__title {
  .v-avatar {
    background-color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
    margin-right: 16px;
  }
}