@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";

.v-button.v-button--image {
  width: 150px;
  height: 45px;
  background-color: $mdc-theme-background !important;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position-x: 18%;
  background-position-y: center;
  border-radius: 10px;
  > i {
    position: absolute;
    margin-right: 0 !important;
    color: $v-header-background;
    line-height: 1;
  }
}

.mdc-button.v-secondary-filled-button {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
}


.mdc-button.v-secondary-text-button {
  @include mdc-button-ink-color($mdc-theme-secondary);
  @include mdc-states(secondary);
}

.v-button-position-left {
  position: absolute;
  left: 0;
}

.v-button-position-right {
  position: absolute;
  right: 0;
}

.v-button-position-top {
  position: absolute;
  top: 0;
}

.v-button-position-bottom {
  position: absolute;
  bottom: 0;
}


.v-card-title-position-left {
  position: absolute;
  left: 0;
}

.v-button-icon-position-top {
  position: absolute;
  top: 0;
}

.v-button-icon-position-right {
  position: absolute;
  right: 0;
}

.v-button-icon-position-bottom {
  position: absolute;
  bottom: 0;

}

.v-button-full-width {
  width: 100%;
}

