.mdc-button.v-secondary-filled-button {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
}


.mdc-button.v-secondary-text-button {
  @include mdc-button-ink-color($mdc-theme-secondary);
  @include mdc-states(secondary);
}

.v-button-align-left {
  float: left;
}

.v-button-text-align-left {
 padding-left: 0;
}

.v-button-align-right {
  float: right;
}
