@import "@material/card/mdc-card";

.v-card {
  position: relative;

}

.v-card-media {
  position: relative;
}

.v-card-title {
  padding: 10px 10px 0px 10px;
}

.v-card-title-position-left {
  position: absolute;
  left: 0;
}

.v-card-title-position-top {
  position: absolute;
  top: 0;
}

.v-card-title-position-right {
  position: absolute;
  right: 0;
}

.v-card-title-position-bottom {
  position: absolute;
  bottom: 0;
}

//.v-card-overflow-menu {
//  position: absolute;
//  right: 16px;
//  top: 16px;
//}

.v-card-media-image, .v-card-media-avatar {
}

.v-card__media-menu {
  z-index: 2;
  .v-button-icon-position-top {
    top: 8px;
  }
}

.v-card--actions {
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.v-card-selected {
  outline: medium solid rgb(63,81,181);
}
