@import "@material/chips/mdc-chips";

button.mdc-chip {
  border: none;
}

.mdc-chip__icon.v-icon-position-left {
  float: none;
  padding-right: 0;
}

.mdc-chip__icon.v-icon-position-top {
  //position: absolute;
  //top: 0;
}

.mdc-chip__icon.v-icon-position-right {
  float: none;
  padding-left: 0;
}

.mdc-chip__icon.v-icon-position-bottom {
  //position: absolute;
  //bottom: 0;
}

.v-chip__primary {
  background-color: $mdc-theme-primary;
  @include mdc-button-ink-color(text-primary-on-dark);
}

.v-chip__secondary {
  background-color: $mdc-theme-secondary;
}
