@import "@material/chips/mdc-chips";

.mdc-chip__icon.v-icon-position-left {
  float: none;
  padding-right: 0;
}

.mdc-chip__icon.v-icon-position-top {
  //position: absolute;
  //top: 0;
}

.mdc-chip__icon.v-icon-position-right {
  float: none;
  padding-left: 0;
}

.mdc-chip__icon.v-icon-position-bottom {
  //position: absolute;
  //bottom: 0;
}


.mdc-chip__primary {
  background-color: $mdc-theme-primary;
}

.mdc-chip__secondary {
  background-color: $mdc-theme-secondary;
}

.mdc-chip__default {}
