@import "@material/chips/mdc-chips";

%selected-shared {
  @include mdc-chip-fill-color($mdc-theme-primary);
  @include mdc-chip-ink-color(text-primary-on-dark);
}

.mdc-chip--selected {
  @extend %selected-shared;
}

.mdc-chip-set--choice {
  .mdc-chip {
    @include mdc-chip-selected-ink-color-without-ripple_(text-primary-on-dark, $query: mdc-feature-all());
  }

  .mdc-chip--selected {
    @extend %selected-shared;
  }
}


.mdc-chip__icon.v-icon-position-left {
  float: none;
  padding-right: 0;
}

.mdc-chip__icon.v-icon-position-top {
  //position: absolute;
  //top: 0;
}

.mdc-chip__icon.v-icon-position-right {
  float: none;
  padding-left: 0;
}

.mdc-chip__icon.v-icon-position-bottom {
  //position: absolute;
  //bottom: 0;
}

.v-chip__primary {
  background-color: $mdc-theme-primary;
  @include mdc-button-ink-color(text-primary-on-dark);
}

.v-chip__secondary {
  background-color: $mdc-theme-secondary;
}
