.v-content--float {
  position: absolute;
  text-align: left;
  margin-top: -1px;
  margin-left: -1px;
  z-index: 989;
}

.v-content--relative {
  position: relative;
}

.v-content-position-left {
  position: absolute;
  left: 0;
}

.v-content-position-right {
  position: absolute;
  right: 0;
}

.v-content-position-top {
  position: absolute;
  top: 0;
}

.v-content-position-bottom {
  position: absolute;
  bottom: 0;
}