@import "@material/fab/mdc-fab";

.v-fab--absolute {
  position: absolute;
  z-index: 10;
}

$fab-positions: (
  top: -3%,
  right: -5%,
  bottom: -5%,
  left: -6%
);

@each $position, $offset in $fab-positions {
  .mdc-fab.v-button-fab-position-#{$position} {
    position: absolute;
    #{$position}: #{$offset};
  }
}
