
.v-icon-position-left {
  float:left;
  padding-right: 16px;
}

.v-icon-position-top {
  top: 0;
}

.v-icon-position-right {
  float:right;
  padding-left: 16px;
  right: 8px;
}

.v-icon-position-bottom {
  position: absolute;
  bottom: 8px;
}

.v-icon__fa{
  font-size: 24px;
}

.v-icon__primary {
  color: $mdc-theme-primary;
}

.v-icon__secondary {
  color: $mdc-theme-secondary;
}

.v-icon-size-x-small {
  font-size: $mdc-subtitle1-font-size;
}
.v-icon-size-small {
  font-size: $mdc-headline6-font-size;
}
.v-icon-size-default, .v-icon-size-medium {
  font-size: $mdc-headline5-font-size;
}
.v-icon-size-large {
  font-size: $mdc-headline4-font-size;
}
.v-icon-size-x-large {
  font-size: $mdc-headline3-font-size;
}
.v-icon-size-xx-large {
  font-size: $mdc-headline1-font-size;
}


