
.v-icon-position-left {
  float:left;
  padding-right: 16px;
}

.v-icon-position-top {
  top: 0;
}

.v-icon-position-right {
  float:right;
  padding-left: 16px;
  right: 8px;
}

.v-icon-position-bottom {
  position: absolute;
  bottom: 8px;
}

.v-icon__fa{
  font-size: 24px;
}

.v-icon__primary {
  color: $mdc-theme-primary;
}

.v-icon__secondary {
  color: $mdc-theme-secondary;
}


