
.v-image-position-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.v-image-position-top {
  position: absolute;
  top: 0;
}

.v-image-position-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.v-image-position-bottom {
  position: absolute;
  bottom: 0;

}

.v-image-position-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

