@import "@material/list/mdc-list";
@import "@material/theme/mixins";

.v-list-item--with-avatar {
  @include mdc-theme-prop(color, white);
  @include mdc-theme-prop(background-color, text-icon-on-background);
}

.v-list-item--header {
  background-color: #F5F5F5;
}

#list-item-select-all-header {
  height: 45px;
  > span {
    margin: auto;
  }
}

.mdc-list-item__meta {
  white-space: nowrap;
  /*
    Attempt to make tooltips display on icons in a list line action.
    This works but the positioning can be off. Fixed position elements inside flex
    elements just doesn't work well. This need a Javascript solution long-term.
   */
  .mdl-tooltip.is-active {
    top: 50% !important;
    left: 78% !important;
  }
}

.v-list-switch-action {
  margin-left: 6px;
}

.mdc-list-item__secondary-text::before {
    content: unset;
}

.v-list__border {
  border: 1px solid rgba(0,0,0,.1);
}



