.v-multi-select-container {
  position: relative;
  .v-multi-select--options-list {
    position: absolute;
    width: 100%;
    top: 71px;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: visible;
    > div {
      display: block;
      text-align: left;
      label {
        line-height: 3em;
      }
    }
  }

  .v-multi-select {
    @extend .mdc-select;
    @extend .v-select;
    overflow: visible;
    background-color: #FFFFFF;
    .v-multi-select--current-values {
      padding: 19px;
      overflow: hidden;
    }
    &:not(.mdc-select--disabled) {
      background-color: #FFFFFF;
    }
    &:hover {
      background: transparent;
      .mdc-notched-outline .mdc-notched-outline__leading,
      .mdc-notched-outline .mdc-notched-outline__notch,
      .mdc-notched-outline .mdc-notched-outline__trailing {
        border-color: rgba(0, 0, 0, 0.87);
      }
    }
  }
  .mdc-select:before {
    background-color: transparent;
  }
}
