.v-rich-text-area-container {
  position: relative;
  width: 100%;

  &[disabled] {
    opacity: 0.67; // closely approximates MDC
    cursor: default;
    pointer-events: none;
  }

  > label {
    display: block;
    margin-top: 16px;
  }
  .ql-toolbar {
    margin-top: 16px;

    &.ql-snow {
      border-color: $v-input-border-color;
      border-top-left-radius: $v-input-border-radius;
      border-top-right-radius: $v-input-border-radius;
    }

    .ql-horizontal-rule:after {
      content: '—–';
    }
  }
  .v-rich-text-area {
    height: 350px;
    &.ql-snow {
      border-color: $v-input-border-color;
      border-bottom-left-radius: $v-input-border-radius;
      border-bottom-right-radius: $v-input-border-radius;
    }
  }
  &:hover {
    .ql-toolbar {
      &.ql-snow {
        border-color: $v-input-hover-border-color;
      }
    }
    .v-rich-text-area {
      &.ql-snow {
        border-color: $v-input-hover-border-color;
      }
    }
  }
}

$fontSizes: (
  xx-small: 'Tiny',
  x-small: 'Small',
  medium: 'Normal',
  large: 'Large',
  x-large: 'Huge',
);

@each $size, $text in $fontSizes {
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="#{$size}"]::before {
    content: $text;
    font-size: $size;
  }
}

// // https://stackoverflow.com/a/43808486
// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="x-small"]::before {
//     content: 'Small';
//     font-size: 0.75em !important;
// }

// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="normal"]::before {
//     content: 'Normal';
//     font-size: 1em !important;
// }

// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
//     content: 'Large';
//     font-size: 1.5em !important;
// }

// .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="x-large"]::before {
//     content: 'Huge';
//     font-size: 2em !important;
// }
