@import "@material/select/mdc-select";

// Temp fix until mdc select fixes this
.mdc-select__native-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

select {
  text-transform: none;
  font-size: $mdc-body2-font-size;
  line-height: 1.15;
  margin: 0;
}

.mdc-select__label--float-above {
  white-space: nowrap;
}