@import "@material/switch/mdc-switch";

.mdc-form-field > label.v-switch__label {
    padding-left: 11px;
}

.v-switch {
    margin-left: 10px;
}

.mdc-switch--checked {
    .mdc-switch__native-control {
        margin-left: 20px;
    }
}