@import "@material/textfield/mdc-text-field";
@import "@material/notched-outline/mdc-notched-outline";

.mdc-text-field {
  margin-top:16px;
  margin-bottom: 8px;
}

.mdc-text-field--textarea:not(.mdc-text-field--disabled) {
  border-color: $v-input-border-color;
  &:hover {
    border-color: $v-input-hover-border-color;
  }
}