<% if line.avatar %>
  <span class="mdc-list-item__graphic v-list-item--with-avatar"
        <%= partial "components/event", :locals => {comp: line, events: line.events, parent_id: line.event_parent_id} if line.events&.any? %>>
    <%= partial "components/avatar", :locals => {comp: line.avatar, class_name: ''} if line.avatar %>
  </span>
<% end %>
