<% if line.checkbox %>
  <span class="mdc-list-item__graphic">
    <%= partial "components/checkbox", :locals => {comp: line.checkbox, class_name: 'v-list-item--selectable-checkbox'} %>
  </span>
<%end%>
